.page {
  background: var(--background);
  color: var(--foreground);

  --gray-alpha-200: transparent;
  --gray-alpha-100: transparent;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  padding: 0;

  gap: 32px; 
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-alpha-200: transparent;
    --gray-alpha-100: transparent;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: rgba(255, 255, 255, 0.04);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
}

a.secondary {
  border-color: transparent;
}

.footer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    opacity: 0.8;
  }

  a.secondary:hover {
    background: rgba(255, 255, 255, 0.06);
  }

  .footer a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 0;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  .footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}


@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
